<form action="creer_films" method="post">
  <div class="container">
    <label for="affiche"><b>affiche</b></label>
    <input type="text" placeholder="url de l'affiche" name="affiche" required>

    <label for="annee"><b>annee</b></label>
    <input type="text" placeholder="annee" name="annee" required>

    <label for="realisateur"><b>realisateur</b></label>
    <input type="text" placeholder="realisateur" name="realisateur" required>

    <label for="titre"><b>titre</b></label>
    <input type="text" placeholder="titre" name="titre" required>

    <label for="acteur"><b>nom et prenom d'un acteur présent dans le film</b></label>
    <input type="text" placeholder="nom" name="nom">
    <input type="text" placeholder="prenom" name="prenom"

    <label for="role"><b>role lié à l'acteur ci-dessus</b></label>
    <input type="text" placeholder="role" name="role">




    <button type="submit">creation film</button>


    