<!DOCTYPE html>
<html lang="fr">
<head>
        <title>MVC with Twig</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="view/web/css/base.css" media="screen" />
        <link rel="shortcut icon" href="view/web/img/favicon.ico" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</head>
<body>
<header>
        
        Bienvenue <b>{{session.user}}</b><br>
    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#"></a>
        <img src="https://previews.123rf.com/images/valentint/valentint1611/valentint161105460/66212122-ic%C3%B4ne-de-film-bouton-de-site-web-de-film-sur-fond-blanc-.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
       Mediathèque
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="films"> Films <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="creer_film" style="{{disparition}}">Création</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{action}}">{{connexion}}</a>
                </li>
                
            </ul>
            
        </div>
        <form method="POST" action="films" class="form-inline">
      <input name="recherche" class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn btn-outline-light" type="submit">Search</button>
    </form>
        </nav>
        </header>
</header><hr>